
.container{
    margin-top:5%;
    height: 60%;
    width: 85%;
    margin-left: 7.5%;
    margin-right: 5%;
    margin-top: auto;
    
}
.c23{
    background-color: rgb(8, 1, 1);
    
}
.c76{
    background-color: rgb(12, 156, 245);
    border-radius: 10px;
    width: 8%;
    height: 25px;
    margin-left: 43%;
    margin-right:5%;
    margin-top: -1px;
    

}

