.c34{
    margin-top:1px;
    color: white;
    background-color: #000000;
    border-radius:10px;
    width: 10%;
    height: 30px;
}
.c4{
    background-color: #0fd398;
    text-align:center;
    
}